.card {
    font-size: 1.15em;
    font-family: serif;
    text-align: center;
    background-color: #fff;
    background-color: #fff;
    padding: 0;
    margin: 60px 0 0 0;
    position: relative;
    overflow-x: hidden;
    clear: both;
    width: auto;
    max-width: 100%
}

.card#padded {
    margin: 10px;
    padding: 20px
}

.cloze {
    font-weight: bold;
    color: #FF0000;
    font-size: 130%
}

a {
    color: #0080FF
}

h1 {
    font-size: 1.8em;
    font-family: sans-serif
}

h2 {
    font-size: 1.3em;
    font-family: sans-serif
}

h3 {
    font-size: 1.1em;
    font-family: sans-serif
}

h4 {
    font-size: 0.8em;
    font-family: sans-serif
}

p {
    font-size: 1.2em;
    padding: 0px 45px 0px 45px;
    margin: 0px 0px 0px 0px
}

p.cloze-text {
    text-align: left
}

p.big {
    font-weight: bold;
    font-size: 1.35em
}

p.huge {
    font-size: 2.9em;
    padding: 0.3em
}

p.massive {
    font-size: 3.2em;
    padding: 0.3em
}

p.notes {
    font-style: italic
}

p.wiki {
    font-size: 0.8em;
    margin: 10px 0px 10px 0px
}

p.wikio {
    font-size: 0.8em;
    margin: 10px 0px 10px 0px;
    font-style: italic
}

p.wiki#esp a {
    color: #990000
}

p.wiki#fra a {
    color: #003366
}

p.tex {
    font-family: serif;
    font-size: 1.35em;
    padding: 0.7em
}

.quotes {
    font-style: italic;
    font-size: 1.15em;
    padding: 0
}

blockquote {
    padding: 1%;
    margin: 0 0 22px;
    font-size: 20px;
    border-left: 5px solid black;
    text-align: left
}

.quotes#right {
    text-align: right;
    padding: 15px 30px 10px 0px
}

.quotes#left {
    text-align: left;
    padding: 20px 10px 10px 30px
}

.quotes#left img {
    max-height: 50px;
    max-width: 50px
}

.quotes#right img {
    max-height: 50px;
    max-width: 50px
}

box {
    margin: 1px auto;
    font-size: 1.15em;
    font-weight: bold;
    padding: 1em;
    display: inherit;
    clear: both;
    font-family: sans-serif;
    width: auto;
    text-align: center
}

box.small {
    font-size: 1.15em;
    padding: 0.3em
}

box.big {
    font-size: 1.35em;
    padding: 0.7em
}

box.huge {
    font-size: 2.9em;
    padding: 0.3em
}

box a {
    color: white
}

box#worst {
    font-size: 2.9em;
    padding: 0.3em;
    color: #FFFFFF;
    background: #990000;
    padding: 0.2em
}

#dblue {
    color: white;
    background: #004c99
}

#lblue {
    color: white;
    background: #66B2FF
}

#dgreen {
    color: white;
    background: #336600
}

#purp {
    color: white;
    background: #4F0787
}

#black {
    color: white;
    background: black
}

#dred {
    color: white;
    background: #990000
}

#lred {
    color: white;
    background: #FF0000
}

#gray {
    color: white;
    background: #404040
}

#orange {
    color: white;
    background: #CC6600
}

.commands {
    color: #000;
    background-color: #eeeeee;
    padding: 0.5em;
    font-size: 1.15em;
    font-family: courier;
    font-weight: bold;
    text-align: center;
    border-top: 1px #E0E0E0 solid;
    border-bottom: 1px #E0E0E0 solid
}

.commands#small {
    font-size: 0.8em;
    text-align: center
}

.commands#stack {
    color: #00008b
}

.terminal {
    color: white;
    background: black;
    padding: 15px;
    font-size: 1.35em;
    font-family: courier;
    font-weight: bold
}

.massive {
    font-size: 3.2em;
    padding: 0.3em
}

hr {
    border: 0;
    color: #9E9E9E;
    background-color: #9E9E9E;
    height: 1px
}

images img {
    max-height: 45%;
    max-width: 65%;
    margin: auto auto 0.25em auto;
    padding: 0;
    clear: both;
    background: #fff
}

images.artwork img {
    max-height: 50%;
    max-width: 80%;
    border: 2px solid lightgrey
}

images.portraits img {
    max-height: 50%;
    max-width: 80%;
    padding: 1px
}

images#b1 img {
    border: #A0A0A0 1px solid
}

images#b1-pad img {
    border: #A0A0A0 1px solid;
    padding: 12px
}

images#nb img {
    border: 0px;
    background: none
}

images.i2 img {
    max-height: 220px;
    max-width: 220px;
    border: 1px lightgrey black
}

images.i3 img {
    max-height: 250px;
    max-width: 250px
}

images.i3-nb img {
    max-height: 250px;
    max-width: 250px;
    border: 0px
}

images.iv img {
    height: 120px;
    width: 100px;
    clear: none
}

images.iv-es img {
    background: -moz-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff1a00), color-stop(36%, #fff200), color-stop(58%, #fff200), color-stop(100%, #ff1a00));
    background: -webkit-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: -o-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: -ms-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: linear-gradient(to right, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a00', endColorstr='#ff1a00', GradientType=1);
    height: 120px;
    width: 100px;
    border-bottom: 1px #990000 solid;
    clear: none;
    padding: 10px
}

images.iv-fr img {
    background: #3b679e;
    background: -moz-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #3b679e), color-stop(38%, #fff), color-stop(59%, #fff), color-stop(100%, #f11));
    background: -webkit-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: -o-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: -ms-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: linear-gradient(to right, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b679e', endColorstr='#ff1111', GradientType=1);
    height: 120px;
    width: 100px;
    clear: none;
    padding: 10px
}

images.vocab img {
    max-height: 50%;
    max-width: 70%;
    border: 1px lightgrey solid;
    padding: 15px
}

images.vocab#esp img {
    background: -moz-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff1a00), color-stop(36%, #fff200), color-stop(58%, #fff200), color-stop(100%, #ff1a00));
    background: -webkit-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: -o-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: -ms-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: linear-gradient(to right, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a00', endColorstr='#ff1a00', GradientType=1)
}

images.vocab#fra img {
    background: #3b679e;
    background: -moz-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #3b679e), color-stop(38%, #fff), color-stop(59%, #fff), color-stop(100%, #f11));
    background: -webkit-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: -o-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: -ms-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: linear-gradient(to right, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b679e', endColorstr='#ff1111', GradientType=1)
}

images.maps img {
    max-width: 220px;
    max-height: 220px;
    border: 1px lightgrey solid
}

images.icons img {
    max-height: 80%;
    max-width: 32px;
    border: 0;
    padding: 0;
    margin: 0.3em -3em 0 1em;
    float: left;
    background: none
}

images.icons#right img {
    max-height: 32px;
    max-width: 32px;
    border: 0px;
    padding: 0px;
    margin: -48px 20px 0px 0px;
    float: right;
    background: none
}

.verb-box {
    border: 1px lightgrey solid;
    padding: 10px 20px 0px 20px;
    margin: 0px 50px 0px 50px;
    width: auto;
    height: auto;
    text-align: center
}

.phrase-box {
    border: 1px lightgrey solid;
    padding: 20px -0px 0px 0px;
    margin: 10px
}

.phrase-box img {
    padding: 0px 0px 10px 0px;
    margin: 0px;
    width: 75px;
    height: 95px
}

.inset {
    margin: 0px 20px 20px 20px;
    background: white;
    padding-top: 20px
}

#es {
    background: -moz-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff1a00), color-stop(36%, #fff200), color-stop(58%, #fff200), color-stop(100%, #ff1a00));
    background: -webkit-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: -o-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: -ms-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: linear-gradient(to right, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a00', endColorstr='#ff1a00', GradientType=1);
    border-bottom: 1px #990000 solid;
    text-shadow: 0 0 2px white
}

#es-2 {
    background: -moz-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff1a00), color-stop(36%, #fff200), color-stop(58%, #fff200), color-stop(100%, #ff1a00));
    background: -webkit-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: -o-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: -ms-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: linear-gradient(to right, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a00', endColorstr='#ff1a00', GradientType=1);
    border: 1px #990000 solid;
    color: black;
    text-shadow: 0 0 2px white
}

#fr {
    background: #3b679e;
    background: -moz-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #3b679e), color-stop(38%, #fff), color-stop(59%, #fff), color-stop(100%, #f11));
    background: -webkit-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: -o-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: -ms-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: linear-gradient(to right, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b679e', endColorstr='#ff1111', GradientType=1);
    border-bottom: 1px #004C99 solid;
    text-shadow: 0 0 2px white
}

#fr-2 {
    background: #3b679e;
    background: -moz-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #3b679e), color-stop(38%, #fff), color-stop(59%, #fff), color-stop(100%, #f11));
    background: -webkit-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: -o-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: -ms-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: linear-gradient(to right, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b679e', endColorstr='#ff1111', GradientType=1);
    border: 1px #004C99 solid;
    color: black;
    text-shadow: 0 0 2px white
}

header {
    background: #000;
    position: fixed;
    height: 2.5em;
    line-height: 0.25em;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-bottom: 30px;
    border-bottom: 1px #e0e0e0 solid;
    text-align: center
}

header h2 {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    padding: 0.5%;
    font-size: 1.35em
}

#header-espanol {
    background: -moz-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff1a00), color-stop(36%, #fff200), color-stop(58%, #fff200), color-stop(100%, #ff1a00));
    background: -webkit-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: -o-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: -ms-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    background: linear-gradient(to right, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1a00', endColorstr='#ff1a00', GradientType=1);
    border-bottom: 1px #990000 solid
}

#header-espanol h2 {
    color: #990000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-shadow: black 0 1px;
    line-height: 0.2em
}

#header-francais {
    background: #3b679e;
    background: -moz-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #3b679e), color-stop(38%, #fff), color-stop(59%, #fff), color-stop(100%, #f11));
    background: -webkit-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: -o-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: -ms-linear-gradient(left, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    background: linear-gradient(to right, #3b679e 0%, #fff 38%, #fff 59%, #f11 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b679e', endColorstr='#ff1111', GradientType=1);
    border-bottom: 1px #004C99 solid
}

#header-francais h2 {
    color: #004C99;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    text-shadow: black 0 1px;
    line-height: 0.2em
}

#Agriculture {
    background: #336600
}

#Anatomy {
    background: #4C9900
}

#Analytics {
    background: #000000
}

#Art {
    background: #660066
}

#Astronomy {
    background: #221079
}

#Awards {
    background: #808080
}

#Aviation {
    background: #99CCFF
}

#Biology {
    background: #4C9900
}

#Books {
    background: #660066
}

#Bullshit {
    background: #808080
}

#Chemistry {
    background: #221079
}

#Christianity {
    background: #660066
}

#Clothing {
    background: #660066
}

#Crime {
    background: #000000
}

#Data {
    background: #000000
}

#Design {
    background: #660066
}

#Drugs {
    background: #336600
}

#CompSci {
    background: #000000
}

#Cryptography {
    background: #000000
}

#Energy {
    background: #336600
}

#Food {
    background: #4C9900
}

#Fitness {
    background: #4C9900
}

#Geography {
    background: #0066CC
}

#Government {
    background: #0066CC
}

#Geology {
    background: #221079
}

#History {
    background: #C00707
}

#Islam {
    background: #660066
}

#Law {
    background: #000000
}

#Linguistics {
    background: #CC0000
}

#Logic {
    background: #221079
}

#Maritime {
    background: #0066CC
}

#Mathematics {
    background: #221079
}

#Medicine {
    background: #15B0E0
}

#Money {
    background: #336600
}

#Music {
    background: #660066
}

#Mythology {
    background: #660066
}

#Neuroscience {
    background: #4C9900
}

#Organizations {
    background: #0066CC
}

#People {
    background: #4F0787
}

#Poker {
    background: #006633
}

#Philosophy {
    background: #555555
}

#Physics {
    background: #221079
}

#Probability {
    background: #221079
}

#Programming {
    background: #000000
}

#Psychology {
    background: #808080
}

#Religion {
    background: #660066
}

#Sales {
    background: #336600
}

#Set {
    background: #221079
}

#Stupid {
    background: #808080
}

#Science {
    background: #221079
}

#Sports {
    background: #006633
}

#Systems {
    background: #221079
}

#Statistics {
    background: #221079
}

#Typography {
    background: #660066
}

#War {
    background: #C00707
}

#World {
    background: #0066CC
}

.code {
    font-size: 1.0em;
    max-width: 100%;
    color: #000;
    background-color: #F7F7F7;
    font-family: courier;
    font-weight: bold;
    text-align: left;
    margin: 10px 0px 0px 0px;
    border-top: 1px #E0E0E0 solid;
    border-bottom: 1px #E0E0E0 solid;
    padding: 2% 0 2% 0
}

.code table {
    margin: 0px 5px 0px 5px
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap
}

code {
    font-weight: bold
}

.highlight {
    padding: 3px
}

td {
    padding: 0
}

pre {
    margin: 0;
    padding: 0px
}

pre .c {
    color: #990000;
    font-style: italic
}

pre .err {
    border: 1px solid red
}

pre .k {
    color: #0000FF;
    font-weight: bold
}

pre .o {
    color: #666
}

pre .cm {
    color: #60a0b0;
    font-style: italic
}

pre .cp {
    color: #007020
}

pre .c1 {
    color: #60a0b0;
    font-style: italic
}

pre .cs {
    color: #60a0b0;
    background-color: #fff0f0
}

pre .gd {
    color: #A00000
}

pre .ge {
    font-style: italic
}

pre .gr {
    color: red
}

pre .gh {
    color: #000080;
    font-weight: bold
}

pre .gi {
    color: #00A000
}

pre .go {
    color: #888
}

pre .gp {
    color: #c65d09;
    font-weight: bold
}

pre .gs {
    font-weight: bold
}

pre .gu {
    color: #800080;
    font-weight: bold
}

pre .gt {
    color: #04d
}

pre .kc {
    color: #007020;
    font-weight: bold
}

pre .kd {
    color: #007020;
    font-weight: bold
}

pre .kn {
    color: #007020;
    font-weight: bold
}

pre .kp {
    color: #007020
}

pre .kr {
    color: #007020;
    font-weight: bold
}

pre .kt {
    color: #902000
}

pre .m {
    color: #00CC00
}

pre .s {
    color: #006600
}

pre .na {
    color: #4070a0
}

pre .nb {
    color: #000099
}

pre .nc {
    color: #0e84b5;
    font-weight: bold
}

pre .no {
    color: #60add5
}

pre .nd {
    color: #555555;
    font-weight: bold
}

pre .ni {
    color: #d55537;
    font-weight: bold
}

pre .ne {
    color: #007020
}

pre .nf {
    color: #06287e
}

pre .nl {
    color: #002070;
    font-weight: bold
}

pre .nn {
    color: #0e84b5;
    font-weight: bold
}

pre .nt {
    color: #062873;
    font-weight: bold
}

pre .nv {
    color: #bb60d5
}

pre .ow {
    color: #0000FF;
    font-weight: bold
}

pre .w {
    color: #bbb
}

pre .mf {
    color: #00CC00
}

pre .mh {
    color: #00CC00
}

pre .mi {
    color: #00CC00
}

pre .mo {
    color: #00CC00
}

pre .sb {
    color: #006600
}

pre .sc {
    color: #006600
}

pre .sd {
    color: #006600;
    font-style: italic
}

pre .s2 {
    color: #006600
}

pre .se {
    color: #006600;
    font-weight: bold
}

pre .sh {
    color: #006600
}

pre .si {
    color: #70a0d0;
    font-style: italic
}

pre .sx {
    color: #c65d09
}

pre .sr {
    color: #235388
}

pre .s1 {
    color: #006600
}

pre .ss {
    color: #517918
}

pre .bp {
    color: #0000FF
}

pre .vc {
    color: #bb60d5
}

pre .vg {
    color: #bb60d5
}

pre .vi {
    color: #bb60d5
}

pre .il {
    color: #00CC00
}

.syntax pre .hll {
    background-color: #ffc
}

.syntax pre {
    background: #ffffff
}

.syntax pre .c {
    color: green
}

.syntax pre .err {
    border: 1px solid red
}

.syntax pre .k {
    color: blue
}

.syntax pre .cm {
    color: green
}

.syntax pre .cp {
    color: blue
}

.syntax pre .c1 {
    color: green
}

.syntax pre .cs {
    color: green
}

.syntax pre .ge {
    font-style: italic
}

.syntax pre .gh {
    font-weight: bold
}

.syntax pre .gp {
    font-weight: bold
}

.syntax pre .gs {
    font-weight: bold
}

.syntax pre .gu {
    font-weight: bold
}

.syntax pre .kc {
    color: blue
}

.syntax pre .kd {
    color: blue
}

.syntax pre .kn {
    color: blue
}

.syntax pre .kp {
    color: blue
}

.syntax pre .kr {
    color: blue
}

.syntax pre .kt {
    color: #2b91af
}

.syntax pre .s {
    color: #a31515
}

.syntax pre .nc {
    color: #2b91af
}

.syntax pre .ow {
    color: blue
}

.syntax pre .sb {
    color: #a31515
}

.syntax pre .sc {
    color: #a31515
}

.syntax pre .sd {
    color: #a31515
}

.syntax pre .s2 {
    color: #a31515
}

.syntax pre .se {
    color: #a31515
}

.syntax pre .sh {
    color: #a31515
}

.syntax pre .si {
    color: #a31515
}

.syntax pre .sx {
    color: #a31515
}

.syntax pre .sr {
    color: #a31515
}

.syntax pre .s1 {
    color: #a31515
}

.syntax pre .ss {
    color: #a31515
}

@media screen and (max-width: 420px) {
    p {
        padding: 0px 15px 0px 15px;
        font-size: 1em
    }

    p.notes {
        font-size: 1.1em
    }

    p.big {
        font-size: 1.2em
    }

    p.huge {
        font-size: 2.2em
    }

    box.big {
        font-size: 1.3em;
        padding: 10px
    }

    box.small {
        font-size: 1em;
        padding: 5px
    }

    .quotes {
        font-size: 1.1em
    }

    images img {
        max-height: 50%;
        max-width: 90%;
        margin: auto auto 0.2em auto;
        padding: 0;
        clear: both;
        background: #fff
    }
}

/*# sourceMappingURL=_CSS-Master.css.map */