/***************************

This style sheet controls all of the various CSS elements within my Anki flashcard note types.  Originally,
I had segregated this sheet into several separate sheets, but I changed my mind after thinking long
and hard about it in the shower.  At first the idea horrified me, since the idea of a jumble of code
all collected into one pile seemed to be a move in the wrong direction, but commenting each section makes
the task of editing this stylesheet very managable.

ACE
12/11/2012

*************************/

// Mixins

@mixin text-small {font-size:0.8em;}
@mixin text-normal {font-size: 1.15em;}
@mixin text-big {font-size:1.35em;}
@mixin text-huge {font-size:2.9em; padding:0.3em;}
@mixin text-massive {font-size:3.2em; padding:0.3em;}
@mixin text-code {font-size:1.0em;}

@mixin art {background:#660066;}
@mixin aviation {background:#99CCFF}
@mixin biology {background:#4C9900;}
@mixin computing {background:#000000;}
@mixin geography {background:#0066CC;}
@mixin language {background:#CC0000;}
@mixin money {background:#336600;}
@mixin philosophy {background:#555555;}
@mixin people {background:#4F0787;}
@mixin science {background:#221079;}
@mixin society {background:#808080;}
@mixin sports {background:#006633;}
@mixin history {background:#C00707;}
@mixin health {background:#15B0E0;}

@mixin francais {
  /* Background gradient code */
  background: #3b679e; /* Old browsers */
  background: -moz-linear-gradient(left, #3b679e 0%, #ffffff 38%, #ffffff 59%, #ff1111 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3b679e), color-stop(38%,#ffffff), color-stop(59%,#ffffff), color-stop(100%,#ff1111)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #3b679e 0%,#ffffff 38%,#ffffff 59%,#ff1111 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #3b679e 0%,#ffffff 38%,#ffffff 59%,#ff1111 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #3b679e 0%,#ffffff 38%,#ffffff 59%,#ff1111 100%); /* IE10+ */
  background: linear-gradient(to right, #3b679e 0%,#ffffff 38%,#ffffff 59%,#ff1111 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#ff1111',GradientType=1 ); /* IE6-9 */
  /* z-index: 100; /* the stack order: foreground */
}

@mixin espanol {
  /* Background gradient code */
  background: -moz-linear-gradient(left, #ff1a00 0%, #fff200 36%, #fff200 58%, #ff1a00 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff1a00), color-stop(36%,#fff200), color-stop(58%,#fff200), color-stop(100%,#ff1a00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ff1a00 0%,#fff200 36%,#fff200 58%,#ff1a00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ff1a00 0%,#fff200 36%,#fff200 58%,#ff1a00 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ff1a00 0%,#fff200 36%,#fff200 58%,#ff1a00 100%); /* IE10+ */
  background: linear-gradient(to right, #ff1a00 0%,#fff200 36%,#fff200 58%,#ff1a00 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#ff1a00',GradientType=1 ); /* IE6-9 */
  /* z-index: 100; /* the stack order: foreground */
}


/* This sets the base style of all cards, including font size, text alignment and background color. */

.card {
  @include text-normal;
  font-family: serif;
  text-align: center;
  background-color: #fff;
  background-color: #fff;
  padding: 0;
  margin: 60px 0 0 0;
  position:relative;
  overflow-x:hidden;
  clear: both;
  width:auto;
  max-width:100%;
}

.card#padded{
  margin: 10px;
  padding:20px;
}

.cloze {
  font-weight: bold;
  color: #FF0000;
  font-size: 130%;
}

/* Layout styling */

a {color:#0080FF;}


/* Text styling */

/* Base styles for h1, h2, etc. */

h1 { font-size:1.8em; font-family:sans-serif; }
h2 { font-size:1.3em; font-family:sans-serif; }
h3 { font-size:1.1em; font-family:sans-serif; }
h4 { font-size:0.8em; font-family:sans-serif; }

/* Styles for various text sizes */
p {
  font-size: 1.2em;
  padding:0px 45px 0px 45px;
  margin:0px 0px 0px 0px;
}

p.cloze-text { text-align:left; }

p.big {
  font-weight:bold;
  @include text-big;
}

p.huge {
  @include text-huge;
}

p.massive {
  @include text-massive;
}

p.notes {
  font-style:italic;
}

/* Styling for Wikipedia and reference links at the bottom of each card */

p.wiki {
  @include text-small;
  margin:10px 0px 10px 0px;
}

p.wikio {
  @include text-small;
  margin:10px 0px 10px 0px;
  font-style:italic;
}

/* Link colors for the hint fields in the "Phrases" note type - 10/23/2013 */

p.wiki#esp a {
  color:#990000;
}

p.wiki#fra a {
  color:#003366;
}

p.tex {
  font-family:serif;
  @include text-big;
  padding:0.7em;
}

/* Quote styles for the "Quote(s)" cards generated within my "People - Profiles" note type. 11-19-2013 */

.quotes {
  font-style:italic;
  @include text-normal;
  padding:0;
}

blockquote {
  padding: 1%;
  margin: 0 0 22px;
  font-size: 20px;
  border-left: 5px solid black;
  text-align:left;
}

/* Obsolete now, left for legacy purposes - 3/5/2015 */
.quotes#right { text-align:right; padding:15px 30px 10px 0px;}
.quotes#left { text-align:left; padding:20px 10px 10px 30px;}

.quotes#left img{
  max-height:50px;
  max-width:50px;
}

.quotes#right img{
  max-height:50px;
  max-width:50px;
}

/* Box styles */


/* Colored box classes */
/* On 10/23/2013 I changed these from div classes (.box) to their own selectors */

box {
  margin:1px auto;
  @include text-normal;
  font-weight:bold;
  padding:1em;
  display:inherit;
  clear:both;
  font-family:sans-serif;
  width:auto;
  text-align:center;
}

box.small {
  @include text-normal;
  padding:0.3em;
}

box.big {
  @include text-big;
  padding:0.7em;
}

box.huge {
  @include text-huge;
}

box a {
  color:white;
}

/* Time complexity styles */
box#worst {@include text-huge; color:#FFFFFF; background:#990000; padding:0.2em;}

/* Box color/text IDs */

#dblue {
  color: white;
  background:#004c99;
}

#lblue {
  color: white;
  background:#66B2FF;
}


#dgreen {
  color: white;
  background:#336600;
}


#purp{
  color:white;
  background:#4F0787;
}


#black {
  color: white;
  background:black;
}

#dred {
  color:white;
  background:#990000;
}

#lred {
  color:white;
  background:#FF0000;
}


#gray {
  color:white;
  background:#404040;
}

#orange {
  color:white;
  background:#CC6600;
}


/* This is for the RegEx cards I made, which closely mimic the "Terminal Commands" note type. 11/12/2013 */

/* Changed to "commands" on 11/20/2013 so that it can be used on other note types without using a language-specific class name. */

.commands {
  color:#000;
  background-color: #eeeeee;
  padding:0.5em;
  @include text-normal;
  font-family:courier;
  font-weight:bold;
  text-align:center;
  border-top:1px #E0E0E0 solid;
  border-bottom:1px #E0E0E0 solid;
}

.commands#small {
  @include text-small;
  text-align:center;
}

/* Named after the Stack Overflow convention of making all quoted commands blue. 11/20/2013 */
.commands#stack {
  color:#00008b;
}

/* This is for the "Terminal Commands" note type - 10/23/2013 */

.terminal {
  color:white;
  background:black;
  padding:15px;
  @include text-big;
  font-family:courier;
  font-weight:bold;
}

.massive {
  @include text-massive;
}

/* Question/answer seperator */

hr {
  border: 0;
  color: #9E9E9E;
  background-color: #9E9E9E;
  height: 1px;
}

/* Image styling */

images img {
  max-height:45%;
  max-width:65%;
  margin:auto auto 0.25em auto;
  padding:0;
  clear:both;
  background:#fff;
}

/* For larger images, such as artwork */

images.artwork img {
  max-height:50%;
  max-width:80%;
  border:2px solid lightgrey;
}

/* For portraits in the "People - Profiles" note type */

images.portraits img {
  max-height:50%;
  max-width:80%;
  padding:1px;
}

/* For images with borders (activated by the "Borders?" flag on certain note types) */

images#b1 img {
  border:#A0A0A0 1px solid;
}

images#b1-pad img {
  border:#A0A0A0 1px solid;
  padding:12px;
}

images#nb img{
  border:0px;
  background:none;
}

/* Different image sizes */

images.i2 img {
  max-height:220px;
  max-width:220px;
  border:1px lightgrey black;
}

images.i3 img{
  max-height:250px;
  max-width:250px;
}

images.i3-nb img{
  max-height:250px;
  max-width:250px;
  border:0px;
}

images.iv img {
  height:120px;
  width:100px;
  clear:none;
}

/* Special image size and background classes for foreign language cards. */

images.iv-es img {
  @include espanol;
  height:120px;
  width:100px;
  border-bottom:1px #990000 solid;
  clear:none;
  padding:10px;
}

images.iv-fr img {
  @include francais;
  height:120px;
  width:100px;
  clear:none;
  padding:10px;
}

images.vocab img {
  max-height:50%;
  max-width:70%;
  border:1px lightgrey solid;
  padding:15px;
}

images.vocab#esp img{
  @include espanol;
}


images.vocab#fra img{
  @include francais;
}


/* The "maps" class is used for my geography cards that display maps. */

images.maps img {
  max-width:220px;
  max-height:220px;
  border:1px lightgrey solid;
}

/* The icon classes are for the icons placed within the header bar of every card. */

images.icons img {
  max-height:80%;
  max-width:32px;
  border:0;
  padding:0;
  margin:0.3em -3em 0 1em;
  float:left;
  background:none;
}

/* For placing additional icons on the right side if I decide I want that */
/* Added 1/27/2014 */

images.icons#right img {
  max-height:32px;
  max-width:32px;
  border:0px;
  padding:0px;
  margin:-48px 20px 0px 0px;
  float:right;
  background:none; }

/* Boxes for the special foreign language verb note type */

.verb-box {
  border:1px lightgrey solid;
  padding:10px 20px 0px 20px;
  margin: 0px 50px 0px 50px;
  width:auto;
  height:auto;
  text-align:center;
}


/* These classes are for boxing in images on my "Phrases" foreign language note type. */

.phrase-box {
  border:1px lightgrey solid;
  padding:20px -0px 0px 0px;
  margin:10px;
}

.phrase-box img {
  padding: 0px 0px 10px 0px;
  margin: 0px;
  width:75px;
  height:95px;
}

.inset {
  margin:0px 20px 20px 20px;
  background:white;
  padding-top:20px;
}


/* Special boxes that surround foreign langauge cards with a gradient box that correlates to the color of the origin country's flag French cards have a gradient with blue, white and red, and Spanish cards use a red, gold, red gradient. */

#es {
  @include espanol;
  border-bottom:1px #990000 solid;
  text-shadow: 0 0 2px white;
}

#es-2 {
  @include espanol;
  border:1px #990000 solid;
  color:black;
  text-shadow: 0 0 2px white;
}

#fr {
  @include francais;
  border-bottom:1px #004C99 solid;
  text-shadow: 0 0 2px white;
}

#fr-2 {
  @include francais;
  border:1px #004C99 solid;
  color:black;
  text-shadow: 0 0 2px white;

}

/* Header rectangles, which sit at the top of every single card */

header {
  background: #000;
  position:fixed;
  height:2.5em;
  line-height:0.25em;
  width:100%;
  top:0;
  right:0;
  left:0;
  bottom:0;
  margin-bottom:30px;
  border-bottom:1px #e0e0e0 solid;
  text-align: center;
}

header h2 {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  padding:0.5%;
  @include text-big;
}

/* Header bars with custom foreign flag gradient backgrounds */

#header-espanol {
  @include espanol;
  border-bottom:1px #990000 solid;
}

#header-espanol h2 {
  color:#990000;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  text-shadow: black 0 1px;
  line-height:0.2em;
}


#header-francais {
  @include francais;
  border-bottom:1px #004C99 solid;
}

#header-francais h2 {
  color:#004C99;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  text-shadow: black 0 1px;
  line-height:0.2em;
}

/* Header color ids for various subjects, as specified in the "Styling" field on many note types */


#Agriculture{@include money}
#Anatomy {@include biology}
#Analytics {@include computing}
#Art {@include art}
#Astronomy {@include science}
#Awards{@include society}
#Aviation {@include aviation}
#Biology {@include biology}
#Books {@include art}
#Bullshit{@include society}
#Chemistry {@include science}
#Christianity {@include art}
#Clothing {@include art}
#Crime {@include computing}
#Data {@include computing}
#Design {@include art}
#Drugs {@include money}
#CompSci {@include computing}
#Cryptography {@include computing}
#Energy {@include money}
#Food {@include biology}
#Fitness {@include biology}
#Geography {@include geography}
#Government {@include geography}
#Geology {@include science}
#History {@include history}
#Islam {@include art}
#Law {@include computing}
#Linguistics {@include language}
#Logic {@include science}
#Maritime {@include geography}
#Mathematics {@include science}
#Medicine {@include health}
#Money {@include money}
#Music{@include art}
#Mythology {@include art}
#Neuroscience {@include biology}
#Organizations{@include geography}
#People {@include people}
#Poker {@include sports}
#Philosophy {@include philosophy}
#Physics {@include science}
#Probability {@include science}
#Programming {@include computing}
#Psychology {@include society}
#Religion {@include art}
#Sales {@include money}
#Set {@include science}
#Stupid {@include society}
#Science {@include science}
#Sports {@include sports}
#Systems {@include science}
#Statistics {@include science}
#Typography {@include art}
#War {@include history}
#World {@include geography}


/* Used for displaying code snippets in the "Programming - Trivia" note type - 11/2/2013 */

.code {
  @include text-code;
  max-width: 100%;
  color:#000;
  background-color: #F7F7F7;
  font-family:courier;
  font-weight:bold;
  text-align:left;
  margin:10px 0px 0px 0px;
  border-top:1px #E0E0E0 solid;
  border-bottom:1px #E0E0E0 solid;
  padding: 2% 0 2% 0;
}

.code table {margin: 0px 5px 0px 5px;}
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}

code {
  font-weight:bold;
}

/* Syntax highlighting styles, courtesy of Pygments */

.highlight {padding:3px;}
td {padding:0;}
pre {margin:0; padding:0px;}

@mixin numbers {color:#00CC00;}
@mixin keywords {color:#0000FF;}
@mixin strings {color:#006600;}

pre .c { color: #990000; font-style: italic } /* Comment */
pre .err { border: 1px solid #FF0000 } /* Error */
pre .k { @include keywords; font-weight: bold } /* Keyword */
pre .o { color: #666666 } /* Operator */
pre .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
pre .cp { color: #007020; } /* Comment.Preproc */
pre .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
pre .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
pre .gd { color: #A00000 } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #FF0000 } /* Generic.Error */
pre .gh { color: #000080; font-weight: bold } /* Generic.Heading */
pre .gi { color: #00A000 } /* Generic.Inserted */
pre .go { color: #888888 } /* Generic.Output */
pre .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
pre .gt { color: #0044DD } /* Generic.Traceback */
pre .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
pre .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
pre .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
pre .kp { color: #007020 } /* Keyword.Pseudo */
pre .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
pre .kt { color: #902000 } /* Keyword.Type */
pre .m { @include numbers; } /* Literal.Number */
pre .s { @include strings; } /* Literal.String */
pre .na { color: #4070a0 } /* Name.Attribute */
pre .nb { color: #000099; } /* Name.Builtin */
pre .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
pre .no { color: #60add5 } /* Name.Constant */
pre .nd { color: #555555; font-weight: bold } /* Name.Decorator */
pre .ni { color: #d55537; font-weight: bold } /* Name.Entity */
pre .ne { color: #007020 } /* Name.Exception */
pre .nf { color: #06287e; } /* Name.Function */
pre .nl { color: #002070; font-weight: bold } /* Name.Label */
pre .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
pre .nt { color: #062873; font-weight: bold } /* Name.Tag */
pre .nv { color: #bb60d5 } /* Name.Variable */
pre .ow { @include keywords; font-weight: bold } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mf { @include numbers } /* Literal.Number.Float */
pre .mh { @include numbers } /* Literal.Number.Hex */
pre .mi { @include numbers } /* Literal.Number.Integer */
pre .mo { @include numbers } /* Literal.Number.Oct */
pre .sb { @include strings; } /* Literal.String.Backtick */
pre .sc { @include strings; } /* Literal.String.Char */
pre .sd { @include strings;; font-style: italic } /* Literal.String.Doc */
pre .s2 { @include strings; } /* Literal.String.Double */
pre .se { @include strings;; font-weight: bold } /* Literal.String.Escape */
pre .sh { @include strings; } /* Literal.String.Heredoc */
pre .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
pre .sx { color: #c65d09 } /* Literal.String.Other */
pre .sr { color: #235388 } /* Literal.String.Regex */
pre .s1 { @include strings; } /* Literal.String.Single */
pre .ss { color: #517918 } /* Literal.String.Symbol */
pre .bp { @include keywords } /* Name.Builtin.Pseudo */
pre .vc { color: #bb60d5 } /* Name.Variable.Class */
pre .vg { color: #bb60d5 } /* Name.Variable.Global */
pre .vi { color: #bb60d5 } /* Name.Variable.Instance */
pre .il { @include numbers } /* Literal.Number.Integer.Long */.syntax pre .hll { background-color: #ffffcc }
.syntax pre  { background: #ffffff; }
.syntax pre .c { color: #008000 } /* Comment */
.syntax pre .err { border: 1px solid #FF0000 } /* Error */
.syntax pre .k { color: #0000ff } /* Keyword */
.syntax pre .cm { color: #008000 } /* Comment.Multiline */
.syntax pre .cp { color: #0000ff } /* Comment.Preproc */
.syntax pre .c1 { color: #008000 } /* Comment.Single */
.syntax pre .cs { color: #008000 } /* Comment.Special */
.syntax pre .ge { font-style: italic } /* Generic.Emph */
.syntax pre .gh { font-weight: bold } /* Generic.Heading */
.syntax pre .gp { font-weight: bold } /* Generic.Prompt */
.syntax pre .gs { font-weight: bold } /* Generic.Strong */
.syntax pre .gu { font-weight: bold } /* Generic.Subheading */
.syntax pre .kc { color: #0000ff } /* Keyword.Constant */
.syntax pre .kd { color: #0000ff } /* Keyword.Declaration */
.syntax pre .kn { color: #0000ff } /* Keyword.Namespace */
.syntax pre .kp { color: #0000ff } /* Keyword.Pseudo */
.syntax pre .kr { color: #0000ff } /* Keyword.Reserved */
.syntax pre .kt { color: #2b91af } /* Keyword.Type */
.syntax pre .s { color: #a31515 } /* Literal.String */
.syntax pre .nc { color: #2b91af } /* Name.Class */
.syntax pre .ow { color: #0000ff } /* Operator.Word */
.syntax pre .sb { color: #a31515 } /* Literal.String.Backtick */
.syntax pre .sc { color: #a31515 } /* Literal.String.Char */
.syntax pre .sd { color: #a31515 } /* Literal.String.Doc */
.syntax pre .s2 { color: #a31515 } /* Literal.String.Double */
.syntax pre .se { color: #a31515 } /* Literal.String.Escape */
.syntax pre .sh { color: #a31515 } /* Literal.String.Heredoc */
.syntax pre .si { color: #a31515 } /* Literal.String.Interpol */
.syntax pre .sx { color: #a31515 } /* Literal.String.Other */
.syntax pre .sr { color: #a31515 } /* Literal.String.Regex */
.syntax pre .s1 { color: #a31515 } /* Literal.String.Single */
.syntax pre .ss { color: #a31515 } /* Literal.String.Symbol */

/* Phone screen section */
@media screen and (max-width: 420px) {
  p {padding:0px 15px 0px 15px; font-size: 1em;}
  p.notes { font-size: 1.1em; }
  p.big { font-size: 1.2em; }
  p.huge {font-size: 2.2em; }
  box.big {font-size:1.3em; padding: 10px;}
  box.small {font-size:1em; padding: 5px;}
  .quotes { font-size:1.1em; }
  images img {
    max-height:50%;
    max-width:90%;
    margin:auto auto 0.2em auto;
    padding:0;
    clear:both;
    background:#fff;
  }
}